__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

frontend/node_modules/
frontend/out/
frontend/dist/
frontend/dist-release/
frontend/release/

backend/.venv/
backend/.ccx-data/
backend/data/
backend/build/
backend/dist/
backend/*.spec
backend/pointcloud_demo

# ccx instance
backend/app/vendor

_ppt_extract/
_pptx_extract/
backend/app/db/excel/data.xlsx

test